.videos {
    min-height: 70vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;

    &__title {
        text-transform: uppercase;
        font-style: italic;
        font-weight: 800;
        font-size: 24px;
        line-height: 33px;
        margin-top: 5vw;
        user-select: none;

        span {
            font-weight: 400;
        }

        h2 {
            overflow: hidden;
            white-space: nowrap;
        }

        &--white {
            color: rgba(255, 255, 255, 0.5);
            z-index: 2;
            -webkit-animation: slide-white 10s linear infinite;
            animation: slide-white 10s linear infinite;
        }

        &--green {
            margin-top: -3vw;
            color: rgba(0, 255, 71, 0.2);
            -webkit-animation: slide-green 10s linear infinite;
            animation: slide-green 10s linear infinite;
            // transform: rotate(-1.43deg) translate(0px, 10px);
        }

        &--pink {
            margin-bottom: -1vw;
            color: rgba(255, 0, 229, 0.2);
            -webkit-animation: slide-pink 10s linear infinite;
            animation: slide-pink 10s linear infinite;
            // transform: rotate(1.63deg);
        }
    }

    &__box {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 10% 0;
        width: 100%;
        height: 50vw;

        h3 {
            color: #fff;
            font-style: italic;
            font-weight: 800;
            text-transform: uppercase;
        }

        iframe {
            margin-top: 5vw;
            width: 70vw;
            height: 39.5vw;
            margin-bottom: 10%;
        }

        .videos__swiper {
            width: 80%;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
        }

        .swiper-button-next {
            content: url('../../../assets/iconos/arrowNext.svg');
        }

        .swiper-button-prev {
            content: url('../../../assets/iconos/arrowPrev.svg');
        }

    }
}

@keyframes slide-green {
    0% {
        -webkit-transform: translate(0px, 10px) rotate(-1.45deg);;
        transform: translate(0px, 10px) rotate(-1.45deg);;
    }

    100% {
        -webkit-transform: translate(-1000px, 30px) rotate(-1.45deg);;
        transform: translate(-1000px, 30px) rotate(-1.45deg);;
    }
}
@keyframes slide-white {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(-1000px) ;
        transform: translateX(-1000px);
    }
}
@keyframes slide-pink {
    0% {
        -webkit-transform: translate(0px, 10px) rotate(1.65deg);
        transform: translate(0px, 10px) rotate(1.65deg);
    }

    100% {
        -webkit-transform: translate(-1000px, 0px) rotate(1.65deg);
        transform: translate(-1000px, 0px) rotate(1.65deg);
    }
}

@media screen and (min-width: 1542px) {
    .videos {
        &__title {
            font-size: 1.6vw;
            line-height: 2.5vw;
        }

        &__button {
            margin-top: 93px;
        }

        &__box {
            iframe {
                margin-top: 5vw;
                width: 1080px;
                height: 609px;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .videos {
        &__title {
            h2 {
                margin-left: -25%;
            }
        }

        &__box {

            .videos__swiper {
                width: 100%;
            }

            iframe {
                $width: 83vw;
                width: $width;
                height: calc($width * 0.5625);
            }
        }
    }
}

@media screen and (max-width: 744px) {
    .videos {
        &__title {
            font-size: 18px;
            line-height: 25px;
        }

        &__button {
            padding: 2vw 3vw;

            span {
                padding-left: 1.3vw;
            }
        }
    }
}

@media screen and (max-width: 428px) {
    .videos {
        h2 {
            margin-left: -38%;
        }

        &__button {
            & span {
                font-size: 14px;
            }
        }
    }
}