.paper {
    position: relative;
    padding: 4vw 0;
    &::before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../../assets/papers/books.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x:-550px;
        z-index: -1;
    }
    &__content {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        margin-left: 30vw;
        margin-right: 5vw;
        font-family: 'Raleway', sans-serif;
    }

    &__title {
        display: none;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;
        color: #fff;
        border-radius: 8px;
        padding: 11px 18px;
        border-style: none;
        margin: 2.5vw 0;
        font-family: 'Open Sans', sans-serif;

        & a {
            text-decoration: none;
            color: #fff;
        }

        & span {
            padding-left: 20px;
            font-size: 17px;
            line-height: 23px;
            text-transform: uppercase;
            vertical-align: middle;
        }

        & img {
            height: 25px;
            width: 25px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 40px;

        strong {
            font-weight: 800;
        }
    }

    &__pdfCopys {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        align-items: center;
        color: #848484;
    }
}

@media screen and (max-width: 960px) {
    .paper {
        &::before{
            opacity: .5;
            background-position-x:-15vw
        }
        &__title {
            text-align: center;
            font-size: 36px;
            padding-bottom: 25px;
            display: block;
        }
        &__content {
            margin-left: 0;
            margin-right: 0;
            margin: auto 10vw;
        }
    }
}

@media screen and (max-width: 744px) {
    .paper {
        &__button {
            padding: 2vw 3vw;
            & span{
                padding-left: 1.3vw;
            }
        }
    }
}

@media screen and (max-width: 428px) {
    .paper {
        &__title {
            font-size: 30px;
        }
        &__button {
            & span{
                font-size: 14px;
                line-height: 19px;
            }
        }
        &__text{
            font-size: 16px;
            line-height: 25px;
        }
        &__pdfCopys {
            padding: 5vw 0;
        }
    }
}