.app__muestra__sticky {
  $bgwidth: 300px;
  float: right;
  position: sticky;
  top: 10%;
  display: flex;
  justify-content: flex-end;
  width: $bgwidth;
  // canilla height + positioning hardcoded
  min-height: calc($bgwidth*1.59);
  ul {
    width: fit-content;
    border-left: 1px solid #cfcfcf;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30% 5% ;
    margin-bottom: auto;
    li {
      list-style: none;
      margin: 20px 0;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../../../assets/gifs/gifCanilla2.gif');
    opacity: .5;
    content: "";
    pointer-events: none;
    background-repeat: no-repeat;
    //translate to negative ul width
    transform: translate(-190px);
    //bg position to cut 13% from canilla right side
    background-position-x: calc($bgwidth*.13);
    //height position
    background-position-y: 0px;
    //maintain gif scale with calc
    background-size: $bgwidth calc($bgwidth * 1.59);
  }
}


@media screen and (max-width: 768px) {
  .app__muestra__sticky {
    float: none;
    background-color: #222222;
    top: 0;
    left: auto;
    width: auto;
    height: auto;
    min-height: auto;
    border-bottom: 1px solid #cfcfcf;
    z-index: 1;
    justify-content: space-around;
    ul {
      width: 100%;
      background: none;
      border-left: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
      padding: 0 5%;
      margin-left: 0;
      li {
        white-space: nowrap;
        margin: 20px 5px;
      }
    }
    &::before {
      display: none;
    }
  }

  #sobreLaMuestra{
    scroll-margin-top: 150px;
  }
  #eventoObras{
    scroll-margin-top: 150px;
  }

}