.casos__brief {
  background: #fff;
  width: 100%;
  padding: 50px 0;
  &-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: left;
  }

  &-datos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 10px;
  }
  .spacer{
    margin-top: 0;
  }
  &-contenedor {
    padding: 0 13%;
  }

  &-informacion {
      text-align: left;
      
      &_title {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 25px;
      margin: 20px 0;
      text-align: center;
    }

    &_subtitle {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 20px;
    }

    &_text {
      white-space: pre-wrap;
      width: 100%;
      line-height: 23.5px;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      font-size: 20px;
      a{
        color:#E72C6C;
      }
    }
  }
}

.spacer {
  border-top: 1px solid black;
  height: 2px;
  max-width: 76%;
  padding: 0;
  margin: 20px auto 0 auto;
}