.photosCarrousel__swiper {
  $swiper-color: #ff2e00;
  .swiper-button-next {
    color: $swiper-color;
    content: url("../../../assets/iconos/arrowNext.svg");
  }

  .swiper-button-prev {
    color: $swiper-color;
    content: url("../../../assets/iconos/arrowPrev.svg");
  }
  .swiper-pagination-progressbar{
    background:none;
  }
  .swiper-pagination-progressbar-fill {
    background: $swiper-color;
  }
  img {
    padding: 7vw 0;
    width: 100%;
    &.active {
      transform: scale(1.3);
      transition: transform 0.1s;
    }
    &.inactive {
      transform: scale(0.6);
      transition: transform 0.1s;
      z-index: 0;
    }
  }
}
