.photosCarrousel__swiper {
  .swiper-wrapper {
    max-height: 700px;
  }
  .swiper-button-next {
    content: url("../../../assets/iconos/arrowNext.svg");
  }

  .swiper-button-prev {
    content: url("../../../assets/iconos/arrowPrev.svg");
  }

  .swiper-scrollbar {
    background: rgba(178, 34, 34, 0.562);
  }
  .swiper-scrollbar-drag {
    background: rgba(223, 32, 32, 0.911);
    cursor: pointer;
  }
  img {
    margin: auto;
    width: 100%;
    border-radius: 2px;
    &.active {
      transform: none;
    }
    &.inactive {
      transform: scale(0.6);
    }
  }
}

@media screen and (max-width: 960px) {
  .photosCarrousel__swiper {
    .swiper-wrapper {
      max-height: 500px;
    }
  }
}
