.paper {
    background-image: url("../../assets/otros/paperBg.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: -300px;
    background-position-y: center;
    position: relative;
    padding: 4vw 0;
    &__content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        max-width: 73vw;
        margin: auto;
        font-family: 'Raleway', sans-serif;
    }  
    &__title {
        writing-mode: vertical-lr;
        position: absolute;
        top: 25%;
        font-size: 90px;
    }
    &__download {
        display: grid;
        min-width: 820px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw ;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;
        color: #fff;
        border-radius: 8px;
        padding: 11px 18px;
        border-style: none;
        & span{
            padding-left: 20px;
            font-size: 17px;
            text-transform: uppercase;
        }
        & img{
            height: 25px;
            width: 25px;
        }
    }
    &__text{
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 5vw;
    }
}

@media screen and (max-width: 960px) {
    .paper {
        &__title {
            left: -20px;
            top: 30%;
        }
        &__download {
            min-width: 380px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 2vw ;
        }
    }
}
@media screen and (max-width: 744px) {
    .paper {
        display: flex;
        position: static;
        flex-direction: column;
        align-items: center;
        &__title {
            writing-mode: horizontal-tb;
            position: static;
            top: auto;
            font-size: 36px;
            padding-bottom: 25px;
        }
        &__content {
            max-width: 90%;
        }
        &__button {
            padding: 2vw 3vw;
            & span{
                padding-left: 1.3vw;
            }
        }
    }
}
@media screen and (max-width: 428px) {
    .paper {
        background-position-x: center;
        &__title {
            font-size: 30px;
        }
        &__content {
            max-width: 85%;
        }
        &__button {
            & span{
                font-size: 14px;
            }
        }
        &__text{
            font-size: 16px;
            line-height: 25px;
        }
        &__download {
            min-width: 315px;
        }
    }
}