.paneltabs {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__buttonsContainer {
    margin-top: 3.5vw;
    width: auto;
    height: 60px;
    border: 3px solid #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    & button {
      cursor: pointer;
      text-transform: uppercase;
      width: 125px;
      background-color: #000;
      color: #fff;
      border-radius: 6px;
      border: none;
      &.active {
        background-color: #fff;
        color: #000;
      }
    }
  }
}
